<h1>Welcome to HealthTracker!</h1>
<p>HealthTracker is an application that helps you keep track of sleeping schedule, activity and general lifestyle.
Tracking your health has never been easier!
</p>
<p>If you already have an account, welcome back!
    If you don't you can make one easily using the register button.
</p>
<form method="GET" action="/auth/login">
    <input type="submit" value="Login" />
</form>
<form method="GET" action="/auth/registration">
    <input type="submit" value="Register" />
</form>
